a {
    text-decoration: none !important;
}

.RobotoMono {
    font-family: 'Roboto Mono', monospace;
}

.dt-body-right {
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    height: 2.4rem;
    padding: .75rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 1;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    /*  color: #495057;*/
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 10px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.gruposTicket :hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.badge-notify {
    background: #4CD964;
    position: relative;
    top: -12px;
    left: -16px;
}

.zoomContainer {
    z-index: 9999;
}

.zoomWindow {
    z-index: 9999;
}

.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input[readonly] {
    background-color: #FFFFFF !important;
    color: #495057 !important;
}

.div-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.dt-center {
    text-align: center;
}

.icono-action a:hover {
    font-size: 1.35em;
}

.icono-action-2 a:hover {
    font-size: 1.15em;
}

.help-block {
    color: #DC3545;
    /* background-color: #f2dede;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;*/
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    /*  overflow: scroll;*/
    outline: none;
}

#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

.fontawesomwSize20 {
    font-size: 20px;
}

.btn-datatables {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-color: #EAEAEA;
}

.btnWith {
    width: 9em;
}

.form-group select,
.form-group textarea,
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="datetime"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="time"],
.form-group input[type="week"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group input[type="search"],
.form-group input[type="tel"],
.form-group input[type="color"] {
    background: #FFF;
}

.form-group.has-success input,
.form-group.has-success select,
.form-group.has-success textarea {
    border-color: #92bf65;
    color: #8bad4c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.has-success input:focus,
.form-group.has-success select:focus,
.form-group.has-success textarea:focus {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(130, 188, 58, 0.3);
    box-shadow: 0px 0px 0px 2px rgba(130, 188, 58, 0.3);
    color: #778866;
    border-color: #81a85a;
}

.form-group.has-success input:focus+[class*="icon-"],
.form-group.has-success select:focus+[class*="icon-"],
.form-group.has-success textarea:focus+[class*="icon-"] {
    color: #8bad4c;
}

.form-group.has-success [class*="icon-"] {
    color: #8bad4c;
}

.form-group.has-success .btn [class*="icon-"] {
    color: inherit;
}

.form-group.has-success .control-label,
.form-group.has-success .help-block,
.form-group.has-success .help-inline {
    color: #7ba065;
}

.form-group.has-info input,
.form-group.has-info select,
.form-group.has-info textarea {
    border-color: #64a6bc;
    color: #4b89aa;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.has-info input:focus,
.form-group.has-info select:focus,
.form-group.has-info textarea:focus {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(58, 120, 188, 0.3);
    box-shadow: 0px 0px 0px 2px rgba(58, 120, 188, 0.3);
    color: #667788;
    border-color: #5a81a8;
}

.form-group.has-info input:focus+[class*="icon-"],
.form-group.has-info select:focus+[class*="icon-"],
.form-group.has-info textarea:focus+[class*="icon-"] {
    color: #4b89aa;
}

.form-group.has-info [class*="icon-"] {
    color: #4b89aa;
}

.form-group.has-info .btn [class*="icon-"] {
    color: inherit;
}

.form-group.has-info .control-label,
.form-group.has-info .help-block,
.form-group.has-info .help-inline {
    color: #657ba0;
}

.form-group.has-error input,
.form-group.has-error select,
.form-group.has-error textarea {
    border-color: #f09784;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.has-error input:focus,
.form-group.has-error select:focus,
.form-group.has-error textarea:focus {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
    box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
    color: #886666;
    border-color: #db8978;
}

.form-group.has-error input:focus+[class*="icon-"],
.form-group.has-error select:focus+[class*="icon-"],
.form-group.has-error textarea:focus+[class*="icon-"] {
    color: #d68273;
}

.form-group.has-error [class*="icon-"] {
    color: #d68273;
}

.form-group.has-error .btn [class*="icon-"] {
    color: inherit;
}

.form-group.has-error .control-label,
.form-group.has-error .help-block,
.form-group.has-error .help-inline {
    color: #d16e6c;
}

.form-group.has-warning input,
.form-group.has-warning select,
.form-group.has-warning textarea {
    border-color: #e0c43a;
    color: #d3bd50;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.has-warning input:focus,
.form-group.has-warning select:focus,
.form-group.has-warning textarea:focus {
    -webkit-box-shadow: 0px 0px 0px 2px rgba(216, 188, 65, 0.3);
    box-shadow: 0px 0px 0px 2px rgba(216, 188, 65, 0.3);
    color: #887755;
    border-color: #d8bc41;
}

.form-group.has-warning input:focus+[class*="icon-"],
.form-group.has-warning select:focus+[class*="icon-"],
.form-group.has-warning textarea:focus+[class*="icon-"] {
    color: #d3bd50;
}

.form-group.has-warning [class*="icon-"] {
    color: #d3bd50;
}

.form-group.has-warning .btn [class*="icon-"] {
    color: inherit;
}

.form-group.has-warning .control-label,
.form-group.has-warning .help-block,
.form-group.has-warning .help-inline {
    color: #d19d59;
}

.form-group input[disabled],
.form-group input:disabled {
    color: #848484 !important;
    background-color: #eeeeee !important;
}

.form-group.has-success .input-group .input-group-addon {
    border-color: #92bf65;
}

.form-group.has-error .input-group .input-group-addon {
    border-color: #f09784;
}

.form-group.has-warning .input-group .input-group-addon {
    border-color: #e0c43a;
}

.form-group.has-info .input-group .input-group-addon {
    border-color: #64a6bc;
}

.btnWith15 {
    width: 15em !important;
}

.btnWith5 {
    width: 5em !important;
}

.btnWith3 {
    width: 3em !important;
}

/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 solid #CCC;
    overflow-x: hidden;
}

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
}

.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 100%;
    z-index: 4;
    left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_horizontal ul.wizard_steps li a.selected:before,
.step_no {
    background: #34495E;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 50%;
    width: 50%;
    left: auto;
}

.wizard_verticle .stepContainer {
    width: 80%;
    float: left;
    padding: 0 10px;
}

.actionBar {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
    text-align: right;
    margin-top: 10px;
}

.actionBar .buttonDisabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.actionBar a {
    margin: 0 3px;
}

.wizard_verticle .wizard_content {
    width: 80%;
    float: left;
    padding-left: 20px;
}

.wizard_verticle ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 20%;
    float: left;
    margin: 0 0 20px;
}

.wizard_verticle ul.wizard_steps li {
    display: list-item;
    text-align: center;
}

.wizard_verticle ul.wizard_steps li a {
    height: 80px;
}

.wizard_verticle ul.wizard_steps li a:first-child {
    margin-top: 20px;
}

.wizard_verticle ul.wizard_steps li a,
.wizard_verticle ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
}

.wizard_verticle ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 100%;
    background: #ccc;
    top: 20px;
    width: 4px;
    z-index: 4;
    left: 49%;
}

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
}

.wizard_verticle ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_verticle ul.wizard_steps li a.selected:before,
.step_no {
    background: #34495E;
    color: #fff;
}

.wizard_verticle ul.wizard_steps li a.done:before,
.wizard_verticle ul.wizard_steps li a.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_verticle ul.wizard_steps li:first-child a:before {
    left: 49%;
}

.wizard_verticle ul.wizard_steps li:last-child a:before {
    left: 49%;
    left: auto;
    width: 0;
}

.form_wizard .loader {
    display: none;
}

.form_wizard .msgBox {
    display: none;
}

.form_wizard .loader {
    display: none;
}

.form_wizard .msgBox {
    display: none;
}

.wizard_horizontal ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

.wizard_horizontal ul.wizard_steps li {
    display: table-cell;
    text-align: center;
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
}

.wizard_horizontal ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 20px;
    width: 100%;
    z-index: 4;
    left: 0;
}

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.wizard_horizontal ul.wizard_steps li a.selected:before,
.step_no {
    background: #34495E;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child a:before {
    left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 50%;
    width: 50%;
    left: auto;
}

.row2 {
    line-height: 0.25em !important;
}

#resultado {
    background-color: #A7444E;
    color: white;
    font-weight: bold;
}

#resultado.ok {
    background-color: #2EB85C;
}

input[readonly] {
    background-color: #EBEDEF !important;
}

.table-hoja-1 td {
    border-bottom: 1px solid #ddd;
    padding: 0.25em !important;
}

.ancho-columna-1 {
    width: 80%;
}

.ancho-columna-2 {
    width: 20%;
}

.table-columna1-cuantia {
    width: 60%;
}

.table-columna2-cuantia {
    width: 20%;
}

.table-columna3-cuantia {
    width: 20%;
}

#table-formulas td {
    border-bottom: 1px solid #ddd;
    padding: 0.25em !important;
}

#modal-hoja-2-estrategias td {
    border-bottom: 1px solid #ddd;
    padding: 0.25em !important;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.select-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.input-group-text-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

#table-cuantia-basica td {
    border-bottom: 1px solid #ddd;
    padding: 0.25em !important;
}

.blink_me {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#modal-formulas input:read-only {
    text-align: right
}

#modal-hoja-1-pension-sin-estrategias input:read-only {
    text-align: right
}

.x_content {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .x_title h6 {
        width: 62%;
        font-size: 14px;
    }

    .tile,
    .graph {
        zoom: 76%;
        height: inherit;
    }

    .item {
        display: block;
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none;
    }
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: #BDBDBD;
}

.dashboard_graph .x_title {
    padding: 5px 5px 7px;
}

.dashboard_graph .x_title h3 {
    margin: 0;
    font-weight: normal;
}

.panel_toolbox {
    float: right;
    min-width: 70px;
    margin-top: -1.5em;
}

.panel_toolbox>li {
    float: left;
    cursor: pointer;
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.panel_toolbox>li>a:hover {
    background: #F5F7FA;
}

.x_content {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}
